.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
    width: 100%;
}

.container form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container input:nth-child(1) {
    width: 300px;
    margin-right: 20px;
    padding: 8px 20px;
}

.container input:nth-child(2) {
    -webkit-appearance: none;
    background-color: var(--add);
    border: none;
    color: var(--button-color);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.textInput {
    background-color: var(--input-bg);
    border: 1px solid var(--border);
    border-radius: 5px;
    color: var(--main);
}

@media screen and (max-width: 750px) {
    
    .container form {
        flex-direction: column;
        align-items: flex-start;
    } 

    .container input:nth-child(1) {
        margin: 20px 0;
        width: 100%;
    }
    
}