.Theme {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.SelectedTheme {
    border: 1px solid #e0e0df;
    border-radius: 5px;
}

.Theme:not(:last-child) {
    margin-right: 20px;
}

.ThemeColor {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}