/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
} */

.classic-theme {
  --primary: #fefefe;
  --secondary: #333;
  --add: #168333;
  --delete: #b72121;
  --border: #e0e0df;
  --input-bg: #fff;
  --button-color: #fefefe;
}

.dark-theme {
  --primary: #333;
  --secondary: #fefefe;
  --add: #14712c;
  --delete: #971b1b;
  --border: #000;
  --input-bg: #000;
  --button-color: #fefefe;
}

.midnight-theme {
  --primary: #002853;
  --secondary: #fefefe;
  --add: #73286F;
  --delete: #511C51;
  --border: #00468C;
  --input-bg: #00468C;
  --button-color: #fefefe;
}

.green-theme {
  --primary: #f8f9ef;
  --secondary: #40513B;
  --add: #609966;
  --delete: #609966;
  --border: #9DC08B;
  --input-bg: #f2f5e1;
  --button-color: #fefefe;
}

.beach-theme {
  --primary: #fefefe;
  --secondary: #406F87;
  --add: #406F87;
  --delete: #4c57a6;
  --border: #EEE9DA;
  --input-bg: #E2ECF2;
  --button-color: #fefefe;
}

.cream-theme {
  --primary: #fefefe;
  --secondary: #2D716E;
  --add: #FFB6B9;
  --delete: #FFB6B9;
  --border: #FAE3D9;
  --input-bg: #F8FCFA;
  --button-color: #AD0006;
}

.darkblue-theme {
  --primary: #222831;
  --secondary: #EEEEEE;
  --add: #006F75;
  --delete: #006F75;
  --border: #00ADB5;
  --input-bg: #000;
  --button-color: #EEEEEE;
}

.teal-theme {
  --primary: #F5F5F5;
  --secondary: #364F6B;
  --add: #C9033E;
  --delete: #C9033E;
  --border: #00ADB5;
  --input-bg: #fff;
  --button-color: #EEEEEE;
}

.purple-theme {
  --primary: #eee;
  --secondary: #364F6B;
  --add: #6A2C70;
  --delete: #6A2C70;
  --border: #B14FBA;
  --input-bg: #fff;
  --button-color: #EEEEEE;
}

.blue-theme {
  --primary: #eee;
  --secondary: #364F6B;
  --add: #036BB0;
  --delete: #036BB0;
  --border: #85CDFD;
  --input-bg: #fff;
  --button-color: #EEEEEE;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--primary);
  color: var(--secondary);
}

a {
  color: inherit;
  text-decoration: none;
}
